.beats-titulo-pagina {
  padding: 40px 41px 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 30px;
  }
}

.genero-section {
  padding: 40px;

  h2 {
    padding-bottom: 15px;
    font-size: 26px;
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-button {
    text-align: center;
    padding-top: 54px;

    button {
      width: 273px;
      height: 55px;
      border-radius: 10px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #d9d9d9;
      font-size: 24px;
    }
  }
}

.cards {
  padding: 25px;

  &-descri {
    padding: 28px 0px 16px;
    font-size: 18px;
  }

  &-price {
    font-size: 22px;
  }
}
