.hero-home-beats {
  background-image: url("../../images/portada/portada.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    color: $maincolor;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    text-align: center;

    transition: 1s;

    &:hover {
      transform: rotate(18deg);
    }
  }
}

.beats-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: rgb(36, 39, 46);
  background: linear-gradient(
    348deg,
    rgba(36, 39, 46, 1) 0%,
    rgba(29, 46, 69, 1) 85%,
    rgba(17, 53, 84, 1) 100%
  );

  &-titulo {
    padding-top: 30px;
    font-weight: bold;
    font-size: 40px;
    color: white;

    transition: 1s;
    &:hover {
      transform: rotate(25deg);
    }
  }

  &-p {
    padding: 40px 40px 15px;
    text-align: center;
    font-size: 24px;
    color: white;
  }
}

.beats-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;

  &-escuchar {
    width: 100%;
    padding: 8px 16px 8px;

    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #222222;
    background: rgb(50, 116, 114);
    background: white;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.servicios-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  &-title {
    padding-top: 30px;
    font-weight: bold;
    font-size: 40px;

    transition: 1s;

    &:hover {
      transform: rotate(25deg);
    }
  }
}
