.nosotrospage {
  padding: 32px;
  background-image: url(../../images/nosotros/nosotrosportada.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 20px;
    filter: brightness(1);
    margin-top: 38px;
  }

  p {
    font-size: 24px;
    font-weight: 400;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 20px;
    filter: brightness(1);
    margin: 16px;
  }
}

.nosotros-section-imagen img {
  width: 100%;
}
