.nosotrospage {
  padding: 40px;
  text-align: center;

  h1 {
    padding: 30px;
    font-size: 45px;
  }

  p {
    font-size: 22px;
    font-weight: 400;
    padding: 30px;
  }
}

.nosotros-section-imagen img {
  width: 100%;
}
