.serviciospage {
  background-image: url(../images/services/serviciosportada.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    filter: brightness(1);
    transition: 1s;

    &:hover {
      transform: rotate(18deg);
    }
  }
}

.serviciospage-grabacion {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  padding: 35px;

  &-img img {
    width: 100%;
    border-radius: 8px;
  }

  &-texto {
    h4 {
      font-size: 34px;
      padding-bottom: 18px;
    }
    p {
      font-size: 22px;
      text-align: justify;
    }
  }

  &-button {
    text-align: center;
    padding-top: 20px;

    &-link {
      font-size: 32px;
      padding: 12px 6px 12px;
      border-radius: 10px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: rgb(36, 39, 46);
      background: linear-gradient(
        348deg,
        rgba(36, 39, 46, 1) 0%,
        rgba(29, 46, 69, 1) 65%,
        rgba(17, 53, 84, 1) 100%
      );
      transition: all 0.2s ease-in-out;
      color: white;
      padding: 16px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.serviciospage-produccion {
  background-color: #d9d9d9;
  @extend .serviciospage-grabacion;

  &-img img {
    width: 100%;
    border-radius: 8px;
  }

  &-texto {
    h4 {
      font-size: 34px;
      padding-bottom: 18px;
    }
    p {
      font-size: 22px;
      text-align: justify;
    }
  }

  &-button {
    text-align: center;
    padding-top: 20px;

    &-link {
      font-size: 32px;
      padding: 12px 6px 12px;
      border-radius: 10px;
      border: none;
      background: rgb(36, 39, 46);
      background: linear-gradient(
        348deg,
        rgba(36, 39, 46, 1) 0%,
        rgba(29, 46, 69, 1) 65%,
        rgba(17, 53, 84, 1) 100%
      );
      transition: all 0.2s ease-in-out;
      color: white;
      padding: 16px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.serviciospage-master {
  @extend .serviciospage-grabacion;

  &-img img {
    width: 100%;
    border-radius: 8px;
  }

  &-texto {
    h4 {
      font-size: 34px;
      padding-bottom: 18px;
    }
    p {
      font-size: 22px;
      text-align: justify;
    }
  }

  &-button {
    text-align: center;
    padding-top: 20px;

    &-link {
      font-size: 32px;
      padding: 12px 6px 12px;
      border-radius: 10px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: rgb(36, 39, 46);
      background: linear-gradient(
        348deg,
        rgba(36, 39, 46, 1) 0%,
        rgba(29, 46, 69, 1) 65%,
        rgba(17, 53, 84, 1) 100%
      );
      transition: all 0.2s ease-in-out;
      color: white;
      padding: 16px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
